          
          <div class="timeline">
            {% if site.timeline != blank -%} 
            {%- assign timeline_size = site.timeline | size -%}
            <div class="table-responsive" {% if site.timeline_scrollable and timeline_size > 3 %}style="max-height: 10vw"{% endif %}>
              <table class="table table-sm table-borderless">
              {%- assign timeline = site.timeline | reverse -%}
              {% if site.timeline_limit %}
              {% assign timeline_limit = site.timeline_limit %}
              {% else %}
              {% assign timeline_limit = timeline_size %}
              {% endif %}
              {% for item in timeline limit: timeline_limit %} 
                <tr>
                  <th scope="row">{{ item.date | date: "%b %-d, %Y" }}</th>
                  <td>
                    {% if item.inline -%} 
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {%- else -%} 
                      <a class="timeline-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %} 
                  </td>
                </tr>
              {%- endfor %} 
              </table>
            </div>
          {%- else -%} 
            <p>No timeline so far...</p>
          {%- endif %} 
          </div>
